services:

    sdk:
        image: sdk:tag
        build: ./docker
        user: ${DEV_UID}:${DEV_GID}
        working_dir: /var/www
        volumes:
            - ./:/var/www
        ports:
            - ${DEV_IP}:8080:8080
        environment:
            # Envs for tests are load from .jest/testEnvs.js
            JEST_DOCKER: 1
            APP_ENV: 'debug'
            CRYPT_SECRET: 'ThisIsNotSoSecret'
            BACKEND_URL: httsp://${DEV_IP}:8080
            STARTING_POINT_URL: https://${DEV_IP}:8080
            ORCHESTY_API_KEY: 'ThisIsNotRealKEy'
            WORKER_API_HOST: https://${DEV_IP}
        command: sleep infinity

    redis:
        image: redis:alpine
        ports:
            - ${DEV_IP}:6379:6379

    mongo:
        image: mongo
        ports:
            - ${DEV_IP}:27017:27017
